.name {
  position: absolute;
  top: 20vh;
  left: 1vw;
  width: 60vw;
  font-family: 'Cormorant Garamond', serif;
  font-size: 75px;
  text-align: center;
  color: black;
}

.description {
  position: absolute;
  top: 36vh;
  left: 1vw;
  width: 60vw;
  font-family: courier;
  text-align: center;
}


.linkedin-position {
  position: absolute;
  top: 50vh;
  left: 6vw;
}

.linkedin-position:hover {
  opacity: 0.5;
}

.twitter-position {
  position: absolute;
  top: 50vh;
  left: 12vw;
}

.twitter-position:hover {
  opacity: 0.5;
}
