.name {
  font-family: 'Titillium Web', sans-serif;
  font-size: 5em;
  text-align: center;
}

.title {
  font-family: 'courier';
  font-size: 1.5em;
  text-align: center;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-align: center;
}
