* {
  margin: 0;
  box-sizing: border-box;
}

.header-nav {
  text-align: right;
  padding: 20px;
  background-color: black;
}

.header-nav a {
  font-family: courier;
  color: #f2f2f2;
  margin: 5px;
  padding: 14px 16px;
  text-decoration: none;
}

.header-nav a:hover {
  color: #CD5C5C;
}
